/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Primery-text-color: #000;
  --secondry-text-color: #1c2b33;
  --primery-links-color: #ec6300;
  --secondry-links-color: #ffa352;
  --primery-bg-color: #f5f6f6;
  --secondry-bg-color: #fff;
}

body {
  font-family: "segoe UI", arial, helvetica, sans-serif;
  font-size: 1.1em;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  /* color: var(--Primery-text-color); */
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.1em;
}

p {
  line-height: 1.6em;
  color: var(--Primery-text-color);
}

ol,
ul {
  line-height: 1.6em;
  list-style: none;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--Primery-text-color);
}

strong {
  font-weight: 700;
}

/* Utility class */

.container {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
  align-items: center;
}
.btn {
  border: 2px solid #ec6300;
  border-radius: 30px;
  padding: 9px 24px;
  color: #fff;
  background-color: #ec6300;
  text-align: center;
  font-weight: 700;
}

.big-subnav-text {
  color: #f5f6f6;
  font-weight: 700;
}
.primery-hover-link {
  color: var(--secondry-links-color);
  transition: all 0.3s;
}

.primery-hover-link:hover {
  color: #fff;
}
.secondary-hover-link {
  color: var(--secondry-text-color);
  transition: all 0.3s;
}

.secondary-hover-link:hover {
  color: var(--primery-links-color);
}

.hover-content-links {
  color: #ec6300;
}

.hover-content-links:hover {
  color: #3e4560;
}

/* Nav header */

.header-nav {
  background-color: #3e4560;
  padding-block: 15px;
}
.header-nav-container {
  justify-content: space-between;
}

.logo img {
  min-height: 95%;
  width: 90%;
}

.header-nav-options ul {
  gap: 40px;
}
.header-nav-options:last-child {
  display: flex;
  gap: 20px;
}

#security-link::before {
  content: url(./stopsi/asset\ 4.svg);
  width: 18px;
  height: 22px;
  display: block;
  margin-inline: 5px;
}

#language-link::before {
  content: url(./stopsi/asset\ 8.svg);
  width: 18px;
  height: 22px;
  display: block;
  margin-inline: 5px;
}

.btn-link {
  transition: all.3s;
}

.btn-link:hover {
  color: var(--primery-links-color);
  background-color: var(--secondry-bg-color);
}

.hamburger-icon {
  display: none;
}
/* Main-nav bar */
nav {
  background-color: var(--primery-bg-color);
}

.main-nav-container {
  justify-content: flex-end;
  padding-inline: 30px;
}

.main-nav-container ul {
  gap: 40px;
  padding: 10px;
}

/* Header hero section */
.hero-section-container {
  padding: 60px 30px 45px;
}

.heading-text {
  margin-inline-start: 50px;
}

.heading-text h1 {
  margin-block-end: 20px;
}
.secondory-btn {
  transition: all 0.3s;
}
.secondory-btn:hover {
  background-color: var(--secondry-bg-color);
  color: var(--secondry-text-color);
}
/* Help Section */

.help-section::after,
.help-section::before {
  content: "";
  background: url(./stopsi/asset\ 9.svg) no-repeat 0 0;
  background-size: 100% 100%;
  height: 60px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}
.help-section::before {
  bottom: 100%;
}
.help-section::after {
  top: 100%;
  background: url(./stopsi/asset\ 10.svg);
}

.help-section {
  background-color: #595f67;
  position: relative;
  margin-block-start: 10px;
}
.help-section-container {
  padding: 60px 30px 45px;
  gap: 40px;
}

.help-img img {
  min-height: 150px;
  min-width: 150px;
}

.help-sec-txt {
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.help-sec-txt h2 {
  color: #fff;
}
.help-hover-link {
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  transition: all 0.3s;
}
.help-hover-link:hover {
  color: var(--secondry-links-color);
}

.help-hover-link i {
  margin-right: 10px;
}

/* Company info section */
.company-info-section {
  position: relative;
  background-color: var(--primery-bg-color);
}
.company-info-section::before {
  content: "";
  background: url(./stopsi/asset\ 11.svg) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  bottom: -110px;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 110px;
  width: 110px;
  z-index: 1;
}

.company-info-section::after {
  content: "";
  background: url(./stopsi/asset\ 12.svg) no-repeat 0 0;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
}

.company-info-container {
  padding-block-start: 100px;
  gap: 50px;
  align-items: flex-start;
}

.left-panel-info {
  flex: 1 0 0px;
  gap: 15px;
  flex-direction: column;
}

.left-panel-info a {
  color: var(--primery-links-color);
  text-decoration: underline;
  transition: all 0.3s;
}
.left-panel-info a:hover {
  color: var(--secondry-text-color);
}

.content-box-img-left,
.contant-box-img-right {
  background: right 0px / auto 100% no-repeat #e5e5e5;
  background-size: auto 100%;
  font-weight: 700;
  min-height: 245px;
  min-width: 120px;
  font-size: 0.9em;
  border-top: 5px solid var(--primery-links-color);
  padding: 10px 180px 10px 30px;
}

.left-panel-info h2 {
  align-self: flex-start;
}

.right-panel-info {
  flex: 1 0 0px;
  flex-direction: column;
  gap: 20px;
}

.right-panel-info a {
  color: var(--primery-links-color);
  text-decoration: underline;
  transition: all 0.3s;
}
.right-panel-info a:hover {
  color: var(--secondry-text-color);
}

/* Privacy section */
.privacy-section {
  padding: 150px 0 50px;
}
.privacy-section-container {
  gap: 40px;
}

.content-privacy-img {
  background: url(./stopsi/asset\ 15.png) right 0px / auto 100% no-repeat
    #e5e5e5;
  background-size: auto 100%;
  font-weight: 700;
  min-height: 245px;
  min-width: 120px;
  font-size: 0.9em;
  border-top: 5px solid var(--primery-links-color);
  padding: 10px 180px 10px 30px;
  box-sizing: content-box;
  flex-direction: column;
  justify-content: center;
}

.privacy-description {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.privacy-description a {
  text-decoration: underline;
}

/* Eligiblity Section */
.eligiblity-section::before,
.eligiblity-section::after {
  content: "";
  background: url(./stopsi/asset\ 9.svg) no-repeat 0 0;
  background-size: 100% 100%;
  height: 60px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

.eligiblity-section::before {
  bottom: 100%;
}
.eligiblity-section::after {
  top: 100%;
  background: url(./stopsi/asset\ 10.svg);
}

.eligiblity-section {
  background-color: #595f67;
  color: #fff;
  position: relative;
}

.elegiblity-section-container {
  padding: 60px 30px 45px;
  gap: 50px;
  margin-block-start: 10px;
}

.elegiblity-sec-txt {
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.elegiblity-sec-txt h2 {
  color: #fff;
}

.tick-mark li {
  font-weight: 400;
  padding: 10px 0 10px 40px;
  position: relative;
}

.tick-mark li:before {
  content: "☑";
  font-size: 2em;
  position: absolute;
  left: 0;
  top: 10px;
}

.elegiblity-hover-link {
  color: #fff;
  text-decoration: underline;
  transition: all 0.3s;
}
.elegiblity-hover-link:hover {
  color: var(--secondry-links-color);
}

/* Work process section */
.work-process-section {
  padding: 100px 0 50px;
}

.work-section-img {
  background: url(./stopsi/asset\ 16.png) 0 0 / auto 100% no-repeat #e5e5e5;
  background-size: auto 100%;
  font-weight: 700;
  min-height: 245px;
  min-width: 120px;
  font-size: 0.9em;
  border-top: 5px solid var(--primery-links-color);
  padding: 10px 30px 10px 180px;
  box-sizing: content-box;
  flex-direction: column;
  justify-content: center;
}

.work-section-descp-container {
  margin-inline-start: 50px;
}

.ordered-opt {
  display: block;
  list-style-type: decimal;
  margin-block: 1em;
  padding-inline-start: 40px;
  font-weight: 400;
}

/* Review Section */
.review-section-container {
  flex-direction: column;
  padding: 60px 30px 45px;
}

.review-section-container > h2 {
  align-self: flex-start;
  font-size: 1.6em;
  margin-block-end: 15px;
}

blockquote {
  font-size: 1.45em;
  font-style: italic;
  text-align: center;
  margin-block-end: 15px;
}

.review-section-container > p {
  margin-block-end: 15px;
  font-size: 1.2em;
}

/* Footer */
footer {
  background-color: #3e4560;
  color: #fff;
  padding-block: 15px;
  border-top: 5px solid var(--primery-links-color);
  display: block;
}

.footer-container > h2 {
  text-align: center;
  padding: 30px 0 15px;
}

.footer-icon-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 5px;
}

.footer-sub-container {
  flex: 0 0 20%;
}

.footer-link-container {
  display: block;
  margin: 0 13px 10px;
  padding-bottom: 10px;
  text-align: center;
}

.footer-img-container {
  margin: 0 auto;
  justify-content: center;
  aspect-ratio: 4/3;
  align-items: center;
  max-height: 50px;
}

.footer-img-container > img {
  max-height: 100%;
}

/* Sub Footer */
.sub-footer {
  background-color: #595f67;
}

.sub-footer-container {
  justify-content: center;
  align-items: center;
}

.sub-footer-container > p {
  color: #fff;
  min-height: 60px;
  text-align: center;
}
